@model mvccore_dotnet_app.Models.UserRole;
<style>
 {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    html, body {
       
        display: grid;
        height: 100%;
        width: 100%;
        place-items: center;
        background: #f2f2f2;
    
    } 

    ::selection {
        background: #49C5DE;
        color: #fff;
    }

    .wrapper {
        width: 380px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
    }

        .wrapper .title {
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            line-height: 100px;
            color: #fff;
            user-select: none;
            border-radius: 15px 15px 0 0;
            background: linear-gradient(-95deg, #49C5DE, gray);
        }

        .wrapper form {
            padding: 10px 30px 50px 30px;
           
        }

            .wrapper form .field {
                height: 50px;
                width: 100%;
                margin-top: 20px;
                position: relative;
            }

                .wrapper form .field input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    font-size: 17px;
                    padding-left: 20px;
                    border: 1px solid lightgrey;
                    border-radius: 25px;
                    transition: all 0.3s ease;
                }

                    .wrapper form .field input:focus,
                    form .field input:valid {
                        border-color: #49C5DE;
                    }

                .wrapper form .field label {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    color: #999999;
                    font-weight: 400;
                    font-size: 17px;
                    pointer-events: none;
                    transform: translateY(-50%);
                    transition: all 0.3s ease;
                }

    form .field input:focus ~ label,
    form .field input:valid ~ label {
        top: 0%;
        font-size: 16px;
        color: #49C5DE;
        background: #fff;
        transform: translateY(-50%);
    }

    form .content {
        display: flex;
        width: 100%;
        height: 50px;
        font-size: 16px;
        align-items: center;
        justify-content: space-around;
    }

        form .content .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        form .content input {
            width: 15px;
            height: 15px;
            background: red;
        }

        form .content label {
            color: #262626;
            user-select: none;
            padding-left: 5px;
        }

    form .field input[type="submit"] {
        color: #fff;
        border: none;
        padding-left: 0;
        margin-top: -10px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        background: linear-gradient(-200deg, #49C5DE, grey);
        transition: all 0.3s ease;
    }

        form .field input[type="submit"]:active {
            transform: scale(0.95);
        }

    form .signup-link {
        color: #262626;
        margin-top: 20px;
        text-align: center;
    }

        form .pass-link a,
        form .signup-link a {
            color: #4158d0;
            text-decoration: none;
        }

            form .pass-link a:hover,
            form .signup-link a:hover {
                text-decoration: underline;
            }
            .form{

                margin-left:370px;
            }

</style>
<div class="form">
    <div class="wrapper">
        <div class="title">
            Login Form
        </div>
        <form asp-action="Dashboard" asp-controller="Home" method="get" enctype="multipart/form-data">

            

            @* <div class="category">
                <span class="gender-title">Role:</span>
                <!-- Radio for Admin -->
                <input id="admin-role" type="radio" name="Role" value="Admin" @(Model.Role == "Admin" ? "checked" : "") />
                <label for="admin-role">
                    <span class="gender">Admin</span>
                </label>
                <!-- Radio for Employee -->
                <input id="employee-role" type="radio" name="Role" value="Employee" @(Model.Role == "Employee" ? "checked" : "") />
                <label for="employee-role">
                    <span class="gender">Employee</span>
                </label>
            </div> *@
            <div class="field">
                <input type="text" name="UserName" required>
                <label>Email Address</label>
            </div>
            <div class="field">
                <input type="password" name="Password" required>
                <label>Password</label>
                <h1>@ViewBag.Error</h1>
            </div>
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
            <div class="field">
                <input type="submit" value="Login">
            </div>
            <h1>@ViewBag.Error</h1>
        </form>

        <div class="signup-link">
            Not a member? <a asp-area="" asp-controller="Home" asp-action="Register">Register Now</a>
        </div>
    </div>
</div>

           